@inherits UmbracoViewPage<Codestruction.Application.Contracts.Blog.BlogListingPageVm>
@{
    Layout = "MasterPage.cshtml";
}

<div ng-controller="ListingController as vm">

    @foreach (var post in Model.BlogPosts)
    {
        @Html.Partial("~/Views/Partials/Blog/Listing/Post.cshtml", post)
    }

    @Html.Partial("~/Views/Partials/Blog/Listing/PostAngular.cshtml")

    <input type="hidden" value="@Model.DataUrl" id="data-url" />
    <div class="pagination pos-center" ng-show="vm.hasMoreResults()">
        <ul>
            <li ><a ng-click="vm.loadMore()">LOAD MORE</a></li>
        </ul>
    </div>


</div>