@inherits Umbraco.Web.Macros.PartialViewMacroPage

<div class="sidebar-widget">
    <div class="author-widget custom-widget clearfix">
        <div class="author-cover-background" style="background: url('http://www.2035themes.com/blogy/classic/wp-content/uploads/2014/10/Untitled-2.jpg'); background-size:cover;">
            <div class="author-avatar">
                <img height="80" width="80" src="http://www.2035themes.com/blogy/classic/wp-content/uploads/2014/10/ali_2.png" class="img-circle">
            </div>
        </div>
        <div class="author-info pos-center clearfix">
            <h2><a href="http://www.2035themes.com/blogy/classic/author/admin/ ">RADEK KOWAL</a></h2>                <p>Curabitur blandit tempus porttitor. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
        </div>
        <div class="author-works">
            <div class="works-title">Currently</div>
            <div class="works-details">
                <ul>
                    <li><p><i class="fa fa-apple"></i>Lowlife at Spafax</p></li>
                    <li><p><i class="fa fa-map-marker f-icon"></i>in <span class="active-color">London</span></p></li>
                    <li><p><i class="fa fa-circle f-icontwo"></i>Avaible for Freelance</p></li>
                </ul>
            </div>
        </div>
    </div>
</div> 