@inherits Umbraco.Web.Macros.PartialViewMacroPage

<div class="sidebar-widget">
    <h4>SOCIAL LINKS</h4><hr>        <div class="social-links custom-widget clearfix">
        <ul>
            <li class="behance"><a class="has-tooltip" data-toggle="tooltip" data-placement="top" title="" target="_blank" href="http://behance.net/alidemirci" data-original-title="Behance"><i class="fa fa-behance "></i></a></li>
            <li class="dribbble"><a class="has-tooltip" data-toggle="tooltip" data-placement="top" title="" target="_blank" href="http://twitter.com/2035themes" data-original-title="Dribbble"><i class="fa fa-dribbble "></i></a></li>
            <li class="facebook"><a class="has-tooltip" data-toggle="tooltip" data-placement="top" title="" target="_blank" href="http://facebook.com/2035themes" data-original-title="Facebook"><i class="fa fa-facebook "></i></a></li>
            <li class="pinterest"><a class="has-tooltip" data-toggle="tooltip" data-placement="top" title="" target="_blank" href="http://pinterest.com/2035themes" data-original-title="Pinterest"><i class="fa fa-pinterest "></i></a></li>
        </ul>
    </div>
</div>