<div id="nav-menu" class="nav-top headroom  menu-container  slide headroom--top">
    <div class="clearfix">
        <div class="logo pull-left ">
            <a href="/"><img alt="logo" src="http://www.2035themes.com/blogy/classic/wp-content/uploads/2014/11/logo-dark.png"></a>
        </div>
        <div class="menu-classic">
            <div class="search-panel pull-right">
                <a id="search-button" href="#"><i class="fa fa-search open-search"></i><i class="fa fa-times close-search"></i></a>
                <div id="classic-search-wrapper">
                    <form action="http://www.2035themes.com/blogy/classic" id="searchform" method="get">
                        <input type="search" id="s" name="s" class="s-input" placeholder="Enter keywords" required="">
                        <input type="submit" class="s-submit" value="Search">
                    </form>
                </div>
                <a id="panel" href="#"><i class="fa fa-bars"></i></a>
                <a href="#" class="slidebar-close"><i class="fa fa-times"></i></a>
            </div>
            <div id="navigation-menu" class="menu pull-right">
                <nav id="menu">
                    <ul id="nav" class="sf-menu superfish">
                        @*<li id="menu-item-5" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-has-children menu-item-5">
                            <a href="http://www.2035themes.com/blogy/">Home</a>*@
                            @*<ul class="sub-menu" style="display: none; visibility: hidden;">
                                <li id="menu-item-315" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-315"><a href="http://www.2035themes.com/blogy/classic/?classic-layout=left">Classic Layout Left Sidebar</a></li>
                                <li id="menu-item-316" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item menu-item-316"><a href="http://www.2035themes.com/blogy/classic/?classic-layout=right">Classic Layout Right Sidebar</a></li>
                                <li id="menu-item-317" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-317"><a href="http://www.2035themes.com/blogy/classic/?classic-layout=none">Classic Layout without Sidebar</a></li>
                                <li id="menu-item-180" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-180"><a href="http://www.2035themes.com/blogy/modern/?modern-grid=1">Modern Layout 1 Grid</a></li>
                                <li id="menu-item-181" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-181"><a href="http://www.2035themes.com/blogy/modern/?modern-grid=2">Modern Layout 2 Grid</a></li>
                                <li id="menu-item-182" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-182"><a href="http://www.2035themes.com/blogy/modern/?modern-grid=3">Modern Layout 3 Grid</a></li>
                                <li id="menu-item-183" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-183"><a href="http://www.2035themes.com/blogy/modern/?modern-grid=4">Modern Layout 4 Grid</a></li>
                                <li id="menu-item-184" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-184"><a href="http://www.2035themes.com/blogy/modern/?modern-grid=5">Modern Layout 5 Grid</a></li>
                                <li id="menu-item-186" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-186"><a href="http://www.2035themes.com/blogy/modern/?modern-grid=6">Modern Layout 6 Grid</a></li>
                            </ul>
                        </li>
                        @*<li id="menu-item-88" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-88">
                            <a href="http://www.2035themes.com/blogy/2014/09/08/its-new-generation-blog/">Single Post</a>
                            <ul class="sub-menu" style="display: none; visibility: hidden;">
                                <li id="menu-item-188" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-188"><a href="http://www.2035themes.com/blogy/classic/2014/09/08/fermentum-aenean/">Single Classic Post</a></li>
                                <li id="menu-item-247" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-247"><a href="http://www.2035themes.com/blogy/classic/2014/09/08/commodo-tellus-inceptos-fermentum/">Single Modern Post</a></li>
                                <li id="menu-item-187" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-187"><a href="http://www.2035themes.com/blogy/classic/2014/10/09/video-cover-example/">Single Video Cover Background</a></li>
                                <li id="menu-item-326" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-326"><a href="http://www.2035themes.com/blogy/classic/2011/10/23/vimeo-background-post/">Vimeo Video Post Background</a></li>
                                <li id="menu-item-89" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-89"><a href="http://www.2035themes.com/blogy/classic/2013/10/11/parallax-for-post/">Parallax For Post</a></li>
                                <li id="menu-item-257" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-257"><a href="http://www.2035themes.com/blogy/classic/2013/10/11/chat-post-type/">CUSTOM SIDEBAR</a></li>
                            </ul>
                        </li>
                        <li id="menu-item-189" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-189">
                            <a href="http://www.2035themes.com/blogy/classic/button/">Shortcodes</a>
                            <ul class="sub-menu" style="display: none; visibility: hidden;">
                                <li id="menu-item-190" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-190"><a href="http://www.2035themes.com/blogy/classic/112-2/">Accordion</a></li>
                                <li id="menu-item-191" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-191"><a href="http://www.2035themes.com/blogy/classic/button/">Button</a></li>
                                <li id="menu-item-192" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-192"><a href="http://www.2035themes.com/blogy/classic/131-2/">Code Syntax Highlighter</a></li>
                                <li id="menu-item-193" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-193"><a href="http://www.2035themes.com/blogy/classic/dropcap/">Dropcap</a></li>
                                <li id="menu-item-194" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-194"><a href="http://www.2035themes.com/blogy/classic/105-2/">Parallax</a></li>
                                <li id="menu-item-195" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-195"><a href="http://www.2035themes.com/blogy/classic/quote/">Quote</a></li>
                                <li id="menu-item-196" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-196"><a href="http://www.2035themes.com/blogy/classic/skills-bar/">Skills Bar</a></li>
                                <li id="menu-item-197" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-197"><a href="http://www.2035themes.com/blogy/classic/slider/">Slider</a></li>
                                <li id="menu-item-199" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-199"><a href="http://www.2035themes.com/blogy/classic/tabs/">Tabs</a></li>
                                <li id="menu-item-198" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-198"><a href="http://www.2035themes.com/blogy/classic/108-2/">Spoiler Box</a></li>
                            </ul>
                        </li>
                        <li id="menu-item-250" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-250">
                            <a href="#">PAGES</a>
                            <ul class="sub-menu" style="display: none; visibility: hidden;">
                                <li id="menu-item-248" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-248"><a href="http://www.2035themes.com/blogy/classic/404">404 Page</a></li>
                                <li id="menu-item-251" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-251"><a href="http://www.2035themes.com/blogy/classic/author/admin/">AUTHOR PAGE</a></li>
                            </ul>
                        </li>
                        <li id="menu-item-289" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-289"><a href="http://www.2035themes.com/blogy/classic/contact/">Contact</a></li>
                        <li id="menu-item-321" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-321"><a href="http://themeforest.net/item/blogy-modern-personal-wordpress-blog-theme/9220105">BUY NOW</a></li>*@
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>